<!DOCTYPE html>
<link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='beauty.css') }}">
<body>
  
<p>The beauty of the traveling is to break the borders, to cross the lines that are only drawn on the maps. It is just for some more time is needed, but some are waiting for you to surrender. </p>
<h2>Check the visa requirements for the place you want to go next.</h2>

<form action = "/visaanswer" method='post' name = 'chose_citizenship'>
       
    <div id = "left">
    To begin the journey as for<br>

    <select name = 'countr' class = "drop" id = "one">  
    <option disabled selected value> chose the citizenship </option>
    	{% for item in abstract %}
    <option value= "{{ item }}">{{ item }}</option>
    	{% endfor %}  

    <div>
    <input type = 'submit', value = 'Click!' id = 'but'>
    </div>
	</select><br> 
       </div>

</form>
<form action = "/visaanswer" method='post' name = 'chose_destination'>
       
      <div id = "right">
       to the mysterious land of <br>
<select name = 'destin' class = "drop" id = "two">
 <option disabled selected value> chose the destination </option>
 	{% for item2 in countries %}
 	<option value="{{ item2 }}">{{ item2 }}</option>
 	{% endfor %}
</select>
       </div>
       


    <div>
    <input type = 'button', value = 'Check' id = 'but'>
    </div>
</form>

<div id = 'output_container'>
  <output>
  	{% print(givereq,'-', givecom) %}
  </output>
</div>
  
</body>

